#root>.body>.header-top {
    background-image: url("../../images/home-page.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center;
    background-blend-mode: darken;
    background-attachment: fixed; /* Parallax effect for a modern touch */
    padding: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6); 
}

.header-title {
    font-size: clamp(3rem, 5vw + 1rem, 5em);
    color: var(--white-color);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); 
    margin-bottom: 1rem; 
}

.header-citation {
    color: var(--white-color);
    font-weight: 400;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5em); 
    margin-bottom: 2rem;
}


/* Mobile styles */
@media only screen and (max-width: 600px) {
    #root>.body>.header-top {
        padding: 3rem 2rem; 
        background-size: cover; 
    }

    .header-title {
        font-size: clamp(2rem, 5vw + 1rem, 2.5em); 
    }

    .header-citation {
        font-size: 1rem; 
    }

}


/* Tablet styles */
@media (min-width: 601px) and (max-width: 900px) {
    #root>.body>.header-top {
        padding: 8rem 3rem;
        background-size: cover;
    }

    .header-title {
        font-size: clamp(2.5rem, 4vw + 1rem, 3.8em); /* Scalable title for tablets */
    }

    .header-citation {
        font-size: 1.2em;
    }

 
}
